$color-white: #fff;
$color-primary: #3399CC;
$color-secundary: #333366;
$color-tertiary: #FF6633;
$color-quaternary: #B1F4FF;

$font-h1: 70px;
$font-h2: 30px;

$button-radius: 20px;
$icons-size: 20px;