@import './variaveis.scss';

@mixin btn {
    width: 200px;
    padding: 10px 0;
    background: transparent;
    border: 1px solid black;
    border-radius: 10px;
    display: block;
    margin: 20px 0;
}

@mixin button-color($background-color, $color) {
    background-color: $background-color;
    color: $color;
}

.btn-laranja {
    @include btn;
    @include button-color($color-orange, #fff);
}

.btn-verde {
    @include btn;
    @include button-color($color-green, #fff);
}

.btn-azul {
    @include btn;
    @include button-color($color-blue, #fff);
}